<footer class="Footer">
    <!-- <a href="./#top" class="Footer__oval__btn"><div class="Triangle"></div>TOP</a> -->
    <div class="Footer__logo">
        <img src="assets/SG logo tr.png" alt="">
        <select>
            <option value="">Nos sites</option>
        </select>
    </div>
    <div class="Footer__links">
        <span class="Footer__links__item"><a href="">Contact</a></span>
        <span class="Footer__links__item"><a href="">Mentions légales</a></span>
        <span class="Footer__links__item"><a href="">Plan du site</a></span>
        <span class="Footer__links__item"><a href="">Sécurité</a></span>
        <span class="Footer__links__item"><a href="">Crédits</a></span>
    </div>
</footer>